html {
    background-color: aqua;
    font-size: 30px;
    font-family: "Open Sans", sans-serif; 
}
h1 {
    font-size: 60px;
    text-align: left;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}